<template>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>

<script setup lang="ts">
const config = useRuntimeConfig()
const siteTitle = config.public.siteTitle

useHead({
  titleTemplate: (titleChunk) =>
    titleChunk ? `${titleChunk} - ${siteTitle}` : siteTitle,
  link: [
    {
      rel: 'icon',
      type: 'image/png',
      href: '/nuxt.png',
    },
  ],
})
</script>
