<template>
  <v-text-field
    v-model="value"
    :error-messages="errors"
    :label="label"
    :type="type"
    @blur="handleBlur"
  />
</template>

<script setup>
import { toRef } from 'vue'
import { useField } from 'vee-validate'

const props = defineProps({
  name: {
    type: String,
    requird: true,
    default: '',
  },
  type: {
    type: String,
    requird: true,
    default: 'text',
  },
  label: {
    type: String,
    required: true,
  },
})

const { value, handleBlur, errors } = useField(toRef(props, 'name'), undefined)
</script>
