<template>
  <div class="ma-10">
    <h2>Login</h2>
    <p-form
      v-slot="{ isSubmitting }"
      class="mt-3"
      :validation-schema="LoginFormSchema"
      @submit="onLogin"
    >
      <p-text-field name="phone_number" label="Phone Number" type="tel" />
      <p-text-field name="password" label="Password" type="password" />

      <div class="d-flex">
        <v-btn type="submit" color="primary" :loading="isSubmitting"
          >Login</v-btn
        >
        <v-btn type="reset" class="ml-2">Reset</v-btn>
      </div>
    </p-form>
  </div>
</template>

<script setup lang="ts">
import { Form as PForm } from 'vee-validate'
import LoginFormSchema from '~/formschemas/auth/login_formschema'
import PTextField from '~/components/PTextField.vue'

const { login } = useAuth()

definePageMeta({
  title: 'Login',
  layout: 'guest',
  middleware: 'guest',
})

const onLogin = (value: Record<string, unknown>) => {
  return login(value.phone_number as string, value.password as string)
}
</script>
