<template>
  <v-layout id="guest-layout" fluid>
    <v-row no-gutters>
      <v-col cols="12" sm="6">
        <v-sheet>
          <slot />
        </v-sheet>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        class="side-right d-none d-md-flex flex-column h-screen justify-center align-center text-white bg-red"
      >
        <logo />
        <h1 class="mt-3">
          {{ siteTitle }}
        </h1>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script setup lang="ts">
import Logo from '~/assets/images/logo.vue'

const config = useRuntimeConfig()
const siteTitle = config.public.siteTitle
</script>
